<link rel="import" href="keyboard.html">
<link rel="import" href="blackkey.html">
<link rel="import" href="whitekey.html">
<h1>Editing track</h1>

<denoto-keyboard></denoto-keyboard>

<%= render 'form' %>

<%= link_to 'Show', @track %> |
<%= link_to 'Back', tracks_path %>