<head>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>

<body>
  <table id="track-table" style="margin-left: 5%">
    <tbody>
        <% @tracks.order('id DESC').each do |track| %>
          <%= render "audio_player", track: track, is_entry_table: 'false' %>
        <% end %>
    </tbody>
  </table>
  <%= will_paginate @tracks %>
</body>

<script>
  var pages = parseInt(<%= @tracks.total_pages %>, 10);
  var url = "/tracks/?page=";
  loadOnScroll(pages, url, "track-table");
</script>

<style>
#loading-img {
  position: absolute;
  left: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 130px;
  padding-top: 80px;
  padding-bottom: 10px;
}
#loader {
  position: relative;
}
</style>
