<head>
  <script src="/assets/jquery-1.9.1.min.js"></script>
  <script src="/assets/jquery-ui-git.js"></script>
  <script src="/assets/audioPlayer.js"></script>
  <script src="/assets/gritter.js"></script>
  <link href="/assets/gritter.css">
  <link rel="stylesheet" href="/assets/audioPlayer.css">
  <link href="/assets/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
</head>

<body>
  <table>
    <tbody>
      <% @tracks.order('id DESC').each do |track| %>
        <%= render "audio_player", track: track, is_entry_table: 'false' %>
      <% end %>
    </tbody>
  </table>
</body>