<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="import" href="/assets/keyboard.html">
<link rel="import" href="/assets/blackkey.html">
<link rel="import" href="/assets/whitekey.html">
<link rel="import" href="/assets/pianoroll.html">
</head>

<denoto-keyboard id="appkeyboard" keycount="24"></denoto-keyboard>
<denoto-pianoroll id="apppianoroll"></denoto-pianoroll>

Data to be uploaded to server 
<div><%= text_area_tag :track_data %></div>
<%= render 'form' %>
<%= link_to 'Back', tracks_path %>

<script>
  function uploadFile(){
    $.ajax({
    type:'GET',
    url:'/upload/new',
    data: { track_data: document.getElementById("track_data").value, track_title: document.getElementById("track_title").value}
    });
  }
</script>

<script>
	document.getElementById("appkeyboard").addEventListener("denoto-keydown", function(e){ console.log("key " + e.detail.keyvalue + " down") });
	document.getElementById("appkeyboard").addEventListener("denoto-keyup", function(e){ console.log("key " + e.detail.keyvalue + " up") });
	document.getElementById("apppianoroll").addEventListener("denoto-writenote", function(e){ console.log("Writing note! measure: " + e.detail.measure + ", beat: " + e.detail.beat + ", duration: " + e.detail.duration + ", value: " + e.detail.keyvalue); });
    document.getElementById("apppianoroll").addEventListener("denoto-erasenote", function(e){ console.log("Erasing note! measure: " + e.detail.measure + ", beat: " + e.detail.beat + ", duration: " + e.detail.duration + ", value: " + e.detail.keyvalue); });
</script>