<div class="span7 text-center enter-button">
  <div class="btn-group">
     <button type="button" class="btn btn-primary dropdown-toggle span7 text-center" data-toggle="dropdown">
        Enter <span class="caret"></span>
     </button>
     <ul class="dropdown-menu" role="menu">
        <li>
          <a href="/tracks/new">Create New Track</a>
        </li>
        <li class="choose_existing_track">
          <a href="">Choose Existing Track</a>
        </li>
     </ul>
  </div>
</div>