<div class="input-group"> <span class="input-group-addon">Filter</span>
  <input id="filter" type="text" class="form-control" placeholder="Type here...">
</div>

<table class="table table-striped">
  <thead>
      <tr>
          <th>Title</th>
          <th>Start Time</th>
          <th>End Time</th>
      </tr>
  </thead>
  <tbody class="searchable">
    <% @competitions.each do |competition| %>
      <%= render 'competition_index', competition: competition %>
    <% end %>
  </tbody>
</table>

<script>
$(document).ready(function () {
  (function ($) {
    $('#filter').keyup(function () {
      var rex = new RegExp($(this).val(), 'i');
      $('.searchable tr').hide();
      $('.searchable tr').filter(function () {
        return rex.test($(this).text());
      }).show();
    })
  }(jQuery));
});
</script>
