<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.title %></td>
        <td><%= competition.startDate %></td>
        <td><%= competition.endDate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Competition', new_competition_path %>

