<head>
  <script src="/assets/load-on-scroll.js"></script> 
</head>
<div class="form-group col-xs-6 col-md-4">
  <div class="input-group"> <span class="input-group-addon">Filter</span>
    <input id="filter" type="text" class="form-control" placeholder="Type here...">
  </div>
</div>
<a href="/competitions/new"><button type="button" class="btn btn-primary">Create New Competition</button></a>
<div>
<table class="table table-hover">
  <thead style="background: #172837; color: #FFFFFF;">
      <tr>
          <th>Title</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Entries</th>
      </tr>
  </thead>
  <tbody id="competition-table">
    <% @competitions.each do |competition| %>
      <%= render 'competition_index', competition: competition %>
    <% end %>
  </tbody>
</table>
</div>
<script>
$(document).ready(function () {
  (function ($) {
    $('#filter').keyup(function () {
      var rex = new RegExp($(this).val(), 'i');
      $('#competition-table tr').hide();
      $('#competition-table tr').filter(function () {
        return rex.test($(this).text());
      }).show();
    })
  }(jQuery));
});
</script>
