<tr>
    <td class="col-md-1" onclick="window.location.href = '/competitions/2';">
      <img src="" height="60" width="60">
      <span class="entries" style="top: 80px;"></span>
      <span id="countdown1" class="countdown"></span>
    </td>
</tr>