<tr>
    <td class="col-md-1">
      <span class="toptrack-rank"><%= rank %></span>
      <img class="toptrack-image" src="<%= track.image %>" width="60" height="30">
      <span class="toptrack-composer"><%= track.username %></span>
      <span class="toptrack-title"><%= track.title %></span>
    </td>
</tr>