<tr>
    <td class="col-md-1">
      <div style="height: 40px;">
        <span class="toptrack-rank"><%= rank %></span>
        <span class="toptrack-composer"><%= track.username %></span>
        <span class="toptrack-title"><%= track.title %></span>
        <div style="position: relative; top: -35px; left: 200px;">
          <img class="tb_button" id="play" src="<%= asset_path("tb_play.png")%>" width="20" height="20" alt="Play" />
        </div>
      </div>
    </td>
</tr>