<div class="container">
    <div class="row home-intro text-center">
        <div class="col-lg-12">
            <h2 style='color: #252477; font-size: 35px; margin-top: 50px; margin-bottom: 50px; font-weight: 300; line-height: 150%'>Anyone can write a Christmas song, but who can write the best Christmas song -- using only a music box sample, the sound of a door closing, and a line reading from Macbeth -- in an hour or less?</h2>
            <p class="lead" style='margin-bottom: 30px; line-height: 150%'>Denoto seeks to answer this and other intriguing questions. Our goal is to make it fun and easy for users to create and share music. Adding an element of light-hearted competition to the mix will help our users reach new creative heights. Denoto will provide a fun and low-pressure environment for novice users to hone their craft and get feedback on their compositions. For more experienced producers, Denoto will provide a streamlined way to both host and participate in competitions. Come have fun, compete with your friends, and explore your musical side with Denoto.
            <hr class="small" style="color: #252477">
        </div>
    </div>       
    </div>
    <div class="text-center btn-home">
    <h2><i class="fa fa-comments-o"></i> Feedback & Suggestions</h2>
    <p>If you have general feedback, or if you have an idea for what you would like to see on Denoto, please email us at: </p>
    <a style="color: #252477">wn28700@gmail.com</a>
    <h2><i class="fa fa-code"></i> Hire Us!</h2>
        <a style="color: #252477">tim@rootdown.net</a>
        <p>Tim Grant</p>
        <a style="color: #252477">spencer.phippen@gmail.com</a>
        <p>Spencer Phippen</p>
        <a style="color: #252477">timothy.a.winchester@gmail.com</a>
        <p>Tim Winchester</p>
        <a style="color: #252477">wn28700@gmail.com</a>
        <p>Jeongun Yu</p>
    </div>
</div>