<div class="container">
    <div class="row home-intro text-center">
        <div class="col-lg-12">
            <h2 style='color: #252477; font-size: 35px; margin-top: 50px; margin-bottom: 50px; font-weight: 300; line-height: 150%'>Anyone can write a Christmas song, but who can write the best Christmas song using only a music box sample, the sound of a door closing, and a line reading from Macbeth -- in an hour or less?</h2>
            <p class="lead" style='margin-bottom: 30px; line-height: 150%'>Denoto seeks to answer this and other intriguing questions. Our goal is to make it fun and easy for users to create and share music, and we think that adding an element of light-hearted competition to the mix helps our users reach new creative heights. Denoto provides a fun and low-pressure environment for novice users to hone their craft and get feedback on their compositions. For more experienced producers, Denoto provides a streamlined way to both host and participate in competitions. Come have fun, compete with your friends, and explore your musical side with Denoto.
            <hr class="small" style="color: #252477">
        </div>
    </div>
    </div>
    <div class="text-center btn-home">
    <h2><i class="fa fa-comments-o"></i> Feedback & Suggestions</h2>
    <p>If you have general feedback, or if you have an idea for what you would like to see on Denoto, please email us at: </p>
    <a style="color: #252477">wn28700@gmail.com</a>
    <h2>Meet The Team</h2>
    <div><img src="<%= asset_path("team_soundsplosion.jpg")%>" />
    <div><small>Left to right: Spencer Phippen, Tim Winchester, Tim Grant, Jeongun Yu</small></div>
    </div>
        <br>
        <a style="color: #252477">tim@rootdown.net</a>
        <p><b>Tim Grant</b></p>
        <p>Tim co-developed the audio engine and was responsible for front-end/back-end integration.</p>

        <a style="color: #252477">
          <script>document.write('spencer.phippen'); document.write('fake@fake.com'[4]); document.write('gmail.com');</script>
        </a>
        <p><b>Spencer Phippen</b></p>
        <p>Spencer developed a good portion of the audio engine that powers the music editor and track players. He enjoys hiking, high-quality meat products, and pretty pictures, which explains his fascination with computer graphics and the <a href="http://en.wikipedia.org/wiki/Demoscene">demoscene</a>.</p>

        <a style="color: #252477">timothy.a.winchester@gmail.com</a>
        <p><b>Tim Winchester</b></p>
        <p>Tim was in charge of the music editor's UI and frontend styling. He enjoys cooking, playing soccer, and continues to learn Japanese in his free time. He lives in Midvale with his wife.</p>

        <a style="color: #252477">wn28700@gmail.com</a>
        <p><b>Jeongun Yu</b></p>
        <p>Insert Stuff Here</p>

    </div>
</div>
