<div class="container">  
    </div>
    <div class="text-center btn-home">
    <h2><i class="fa fa-comments-o"></i> Contact Us!</h2>
        <a style="color: #252477">tim@rootdown.net</a>
        <p>Tim Grant</p>
        <a style="color: #252477">spencer.phippen@gmail.com</a>
        <p>Spencer Phippen</p>
        <a style="color: #252477">timothy.a.winchester@gmail.com</a>
        <p>Tim Winchester</p>
        <a style="color: #252477">wn28700@gmail.com</a>
        <p>Jeongun Yu</p>
    </div>
</div>