<div class="container">
  <div class="row home-intro text-center">
      <div class="col-lg-12">
          <h2 style='color: #252477; font-size: 35px; margin-top: 50px; margin-bottom: 50px; font-weight: 300; line-height: 150%'>  Site Credits
          </h2>
          <p class="lead" style='line-height: 150%'>Assets</p>
          <p> Icons -  </p>
          <p> Images -  </p>
          <p class="lead" style='line-height: 150%'>Acknowledgments</p>
          <p> Library used </p>
      </div>
  </div>
</div>