<div class="container">
  <div class="row home-intro text-center">
      <div class="col-lg-12">
          <h2 style='color: #252477; font-size: 35px; margin-top: 50px; margin-bottom: 50px; font-weight: 300; line-height: 150%'>  Site Credits
          </h2>
          <p class="lead" style='line-height: 150%'>Icons</p>
          <p>Transport bar icons and delete ("X") icon made by <a href="http://appzgear.com" title="Appzgear">Appzgear</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>. Licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a> </p>
          <p>Save/import/export icons made by <a href="http://www.flaticon.com/packs/android-app/2">freepik</a>. Licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
          <p>Cursor icon adapted from cursor by <a href="gentleface.com">Gentleface.com</a>, licensed under Creative Commons Attribution Non-commercial (by-nc) </p>
          <p>Pencil icon made by <a href="http://appzgear.com" title="Appzgear">Appzgear</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>. Licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
          <p>Zoom in/out icons made by <a href="http://www.flaticon.com/packs/android-app/2">freepik</a>. Licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a> </p>          
          <p class="lead" style='line-height: 150%'>Acknowledgements</p>
          <p>Denoto uses the <a href="https://github.com/TONEnoTONE/Tone.js/">Tone.js Web Audio Framework</a>, under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.
          <p><a href="https://github.com/mattdiamond/Recorderjs">Recorder.js</a> was used for exporting to WAV, under the <a href="http://opensource.org/licenses/MIT">MIT License</a> </p>
      </div>
  </div>
</div>