<div class="container">
  <div class="row home-intro text-center">
      <div class="col-lg-12">
          <h2 style='color: #252477; font-size: 35px; margin-top: 20px; margin-bottom: 20px; font-weight: 300; line-height: 150%'>  Example Songs
          </h2>
      </div>
  </div>
</div>

<div style="width: 500px; margin-right: auto; margin-left: auto;">
  <div class="input-group"> <span class="input-group-addon">Filter</span>
    <input id="filter" type="text" class="form-control" placeholder="Type here...">
  </div>
</div>

<div style="width: 70%; margin-right: auto; margin-left: auto;">
<table class="table table-striped table-hover" style="text-align: center">
  <thead>
      <tr>
          <th style="width: 33%; text-align: center">Title</th>
          <th style="width: 33%; text-align: center">Instruments</th>
          <th style="width: 33%; text-align: center">Effects</th>
      </tr>
  </thead>
  <tbody id="example-table">
    <tr onclick="window.location.href = '/tracks/41/edit'">
      <td>
        <a style="cursor: pointer" class="title">Primo</a>
      </td>
      <td>
        Monophonic Synth, Sampler
      </td>
      <td>
        Chorus, Filter
      </td>
    </tr>

    <tr onclick="window.location.href = '/tracks/38/edit'">
      <td>
        <a style="cursor: pointer" class="title">Frankenbeat</a>
      </td>
      <td>
        Monophonic Synth, Sampler
      </td>
      <td>
        Distortion, Chorus, Filter, Gain, Reverb
      </td>
    </tr>

    <tr onclick="window.location.href = '/tracks/44/edit'">
      <td>
        <a style="cursor: pointer" class="title">Some short intro</a>
      </td>
      <td>
        Monophonic Synth, Sampler
      </td>
      <td>
        None
      </td>
    </tr>
  </tbody>
</table>
</div>
<div style="margin-right: auto; margin-left: auto; width: 60px;">
  <a href="/tracks/new" style="margin-right: auto; margin-left: auto;"><button type="button" class="btn btn-primary">Create New Track</button></a>
</div>

<style>
  .title:hover {
    color: #253A76;
  }
</style>

<script>
$(document).ready(function () {
  (function ($) {
    $('#filter').keyup(function () {
      var rex = new RegExp($(this).val(), 'i');
      $('#example-table tr').hide();
      $('#example-table tr').filter(function () {
        return rex.test($(this).text());
      }).show();
    })
  }(jQuery));
});
</script>