<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="list-group">
                  <a href="/tracks/new" class="list-group-item">Start New Track</a>
                  <a href="competitions/new" class="list-group-item">Create New Competition</a>
              </div>

              <div>Top tracks</div>
              <table class="table table-hover table-nonfluid">
                  <tbody>
                      <% get_global_top_five_tracks.each_with_index do |track, index| %>
                        <%= render "toptrack", track: track, rank: index + 1 %>
                      <% end %>
                  </tbody>
              </table>

              <div>Recent Activity</div>
              <table class="table table-hover table-nonfluid">
                  <tbody>
                      <% get_user_activity(5).each do |activity| %>
                        <%= render "recent_activity", activity: activity %>
                      <% end %>
                  </tbody>
              </table>
          </div>

          <div class="col-md-9" style="margin-bottom: 20px;">
            <p class="lead">Current Competitions</p>
              <table class="table table-hover table-nonfluid">
                  <tbody>
                      <%= render "current_competition" %>
                  </tbody>
              </table>
              
            <p class="lead">Previous Competitions</p>
              <table class="table table-hover table-nonfluid">
                  <tbody>
                      <tr>
                          <%= render "previous_competition" %>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <div class="container">
      <hr>
      <footer>
          <div class="row">
              <div class="col-lg-12">
              </div>
          </div>
      </footer>
  </div>
</body>
<style>
  .table-nonfluid{
   table-layout: fixed;
   word-wrap: break-word;
   width: 150;
  }

  .countdown {
   position: absolute; 
   right: 20px;
  }

 .entries {
   position: absolute;
   display:block;
   left: 87px;
 }

 .toptrack-rank {
  position: absolute;
 }

 .toptrack-image {
  padding-left: 15px; 
  padding-right: 15px;
 }

 .toptrack-title {
  position: relative;
  display: block;
  left: 65px;
  top: -20px;
  font-size: 9pt;
  color: #000080;
 }

 .toptrack-composer {
  position: relative;
  top: -12px;
  font-size: 7pt;
 }

 .recent-posting {
  font-size: 7pt;
 }
</style>
</body>
</html>
