<script>
  $(function() {
    $( "#accordion" ).accordion();
  });
</script>
<div id="accordion" style="width: 80%; margin-left: auto; margin-right: auto; padding-top: 50px;">
  <h4>1. Add tracks</h4>
  <div>
    <p>
      <ul>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
      </ul>
    </p>
  </div>
  <h4>2. Add instruments and effects in effects Graph </h4>
  <div>
    <p>
    <ul>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
      </ul>
    </p>
  </div>
  <h4>3. Add Patterns</h4>
  <div>
    <p>
    <ul>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
      </ul>
  </div>
  <h4>4. Save, export, or import song</h4>
  <div>
    <p>
    <ul>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
    </ul>
    </p>
  </div>
</div>
<div style="margin-right: auto; margin-left: auto; width: 60px;">
  <a href="/tracks/tutorial" style="margin-right: auto; margin-left: auto;">
    <button type="button" class="btn btn-primary">Interactive Tutorial</button>
  </a>
</div>