<script>
  $(function() {
    $( "#accordion" ).accordion({
        heightStyle: "content",
        autoHeight: false,
        clearStyle: true,  
    });
  });
</script>
<div id="accordion" style="width: 80%; margin-left: auto; margin-right: auto; padding-top: 50px;">
  <h4>1. Add tracks</h4>
  <div>
    <p>
      <ul>
        <li>Click "Click to add a new track" panel to add a new track.</li>
        <img src="<%= asset_path('step1-1.png')%>">
      </ul>
    </p>
  </div>
  <h4>2. Add instruments and effects in effects Graph </h4>
  <div>
    <p>
    <ul>
        <li>Clicking "Effects Graph" tab opens up the effects graph.</li>
        <img src="<%= asset_path('step2-1.png')%>">
        <li>In order to add a new instrument, right click anywhere on the grey area.</li>
        <img src="<%= asset_path('step2-2.png')%>">
        <li>Connect the instrument to the track by dragging from the output of the track (red knob) to the input of the instrument (red knob). </li>
        <li>Similarly, you can add an effect by right clicking. Connect the effect to an instrument or a track you want to apply it to. </li>
      </ul>
    </p>
  </div>
  <h4>3. Add Patterns</h4>
  <div>
    <p>
    <ul>
        <li>A pattern is a collection of notes that composes a song. By clicking the "Track View" tab, you can open up Note Patterns view.</li>
        <li>Click Add New Pattern to add a pattern.</li>
        <li>In order to place the pattern onto the song, you need to drag the colored rectangle, and drop it onto the track lane.</li>
      </ul>
  </div>
  <h4>4. Edit Patterns</h4>
  <div>
    <p>
    <ul>
        <li>By double clicking the pattern on the track lane, you can open up the pattern editor view.</li>
        <li>Each horizontal line is associated with certain pitch just like Piano does. By clicking the piano roll on the left you can hear what the note will sound like.</li>
        <li>In order to insert a note, click the pencil on the top bar and drag on the grid.</li>
      </ul>
  </div>
  <h4>5. Save, export, or import song</h4>
  <div>
    <p>
    <ul>
        <li>After you got back to Track View, you can save the song, which will upload your song to the server so that you can listen to the song on the website, edit later, or enter a competition with. Saving requires you to be logged in. Click on the disk icon on top-right and give it a title.</li>
        <li>Or you can export the song to txt, wav, or midi. You can import the song back to the music editor if it's a txt file.</li>
    </ul>
    </p>
  </div>
</div>
<div style="margin-right: auto; margin-left: auto; width: 60px; padding-top: 20px;">
  <a href="/tracks/tutorial" style="margin-right: auto; margin-left: auto;">
    <button type="button" class="btn btn-primary">Interactive Tutorial</button>
  </a>
</div>