<table>
  <tbody>
    <% @favorited_tracks.order('id DESC').each do |track| %>
      <%= render "tracks/audio_player", track: track, is_entry_table: 'false' %>
    <% end %>
  </tbody>
</table>
<script>
  <% @favorited_tracks.order('id DESC').each do |track| %>
    <%= render 'tracks/audio_player.js.erb', track: track %>
  <% end %>
</script>