<table class="my_tracks">
  <tbody>
    <% @my_tracks.order('id DESC').each do |track| %>
      <%= render "tracks/audio_player", track: track, is_entry_table: 'false' %>
    <% end %>
  </tbody>
</table>
