<template>
  <style>
    #up
    {
      display: block;
    }
    #down
    {
      display: none;
    }
  </style>
  <div id="container">
    <img id="up" src='<%= asset_path("blackkey_up.png")%>' />
    <img id="down" src='<%= asset_path("blackkey_down.png")%>' />
  </div>
</template>

<script>
(function() {
    // get the template for this element
    var template = document.currentScript.ownerDocument.querySelector('template');

    // copy a prototype from HTMLElement
    var blackkeyPrototype = Object.create(HTMLElement.prototype);

    // specify the created callback ("constructor")
    blackkeyPrototype.createdCallback = function() {
      var root = this.createShadowRoot();
      root.appendChild(document.importNode(template.content, true));
      var key = this;
      var container = root.getElementById("container");

      // keep track of whether or not this key has been clicked
      var clicked = false;
      var up = root.getElementById("up");
      var down = root.getElementById("down");

      // make the key shade when moused over
      container.addEventListener('mouseover', function() {
        up.style.display = "none";
        down.style.display = "block";
      });

      // make the key unshade when moused out of
      container.addEventListener('mouseout', function() {
        if (clicked) {
          var keyEvent = new CustomEvent("denoto-keyup", {"detail":{"keyvalue": key.getAttribute('value')}}); document.dispatchEvent(keyEvent);
          clicked = false;
        }
        up.style.display = "block";
        down.style.display = "none";
       });

      // make the key react when clicked on
      container.addEventListener('mousedown', function() { clicked = true; var keyEvent = new CustomEvent("denoto-keydown", {"detail":{"keyvalue": key.getAttribute('value')}}); document.dispatchEvent(keyEvent); });
      container.addEventListener('mouseup', function() {
        if (clicked) {
          var keyEvent = new CustomEvent("denoto-keyup", {"detail":{"keyvalue": key.getAttribute('value')}}); document.dispatchEvent(keyEvent);
          clicked = false;
        }
      });
    };

    // register the element
    var blackkey = document.registerElement('denoto-pianokey-black', {prototype: blackkeyPrototype});
  })();
  </script>
