<template>
	<span class="countdownclock" id="timeremaining">Loading...</span>
	<style>
		.countdownclock {
			font-size: 28px;
			opacity: 0.85;
			margin-left: 50px;
			margin-right: auto;
			position: relative;
			color: #FFF;
		}
	</style>
</template>

<script>
	(function(){
		// get the template for this element
		var template = document.currentScript.ownerDocument.querySelector('template');

		// copy a prototype from HTMLElement
		var countdownPrototype = Object.create(HTMLElement.prototype);

		// declare a persistent reference to the time remaining span and the timer
		var timeremaining;
		var timer;
		var hours;
		var minutes;
		var seconds;

		// declare a persistent reference to the shadowroot (used by updateTimer)
		var root;

		// specify the created callback ("constructor")
		countdownPrototype.createdCallback = function(){
			root = this.createShadowRoot();
			root.appendChild(document.importNode(template.content, true));

			// get the time remaining span
			timeremaining = root.querySelector('#timeremaining');

			// TEMPORARY: hardcode minutes and seconds. In the future, grab it from the countdown's attributes
			hours = 0;
			minutes = 4;
			seconds = 0;

			// update the timer every second
			updateTimer;
			timer = setInterval(updateTimer, 1000);
		};

		function updateTimer(){
			// decrement the time left
			if(--seconds < 0){
				seconds = 59;
				minutes--;
			}
			if(minutes < 0){
				minutes = 59;
				hours--;
			}

			// update the display of time remaining
			timeremaining.innerHTML	= "Competition ends in " + hours + ":" + (minutes < 10 ? "0" : "") + minutes + ":"+ (seconds < 10 ? "0" : "") + seconds;

			// throw an event when time has run out
			if(hours === 0 && minutes === 0 && seconds === 0){
				clearInterval(timer);
				var timeEvent = new CustomEvent("denoto-endcountdown", {"detail": "countdown ended"});
				root.host.dispatchEvent(timeEvent);
			}

		}

		// register the element
		var countdown = document.registerElement('denoto-countdown', {prototype: countdownPrototype});
	})();
</script>