<template>
  <div id="endmarker">
    <denoto-editableclock id="max_time" value="1" isposition="true" caption="Song End: "></denoto-editableclock>
  </div>
  <style>
    #endmarker{
      opacity: 0.9;
      position: relative;
      top: 10px;
      display: inline-block;
      width: 160px;
      z-index: 4;
    }
  </style>
</template>
<script src="<%= asset_path("time.js")%>"></script>
<script>
  (function() {
    // get the template for this element
    var template = document.currentScript.ownerDocument.querySelector('template');

    // copy a prototype from HTMLElement
    var endmarkerPrototype = Object.create(HTMLElement.prototype);

    // specify the created callback ("constructor")
    endmarkerPrototype.createdCallback = function() {
      var root = this.createShadowRoot();
      root.appendChild(document.importNode(template.content, true));

      // initialize end time
      var max_time = root.getElementById("max_time");
      max_time.setAttribute("value", 16 * 1920);

      document.addEventListener('denoto-setendtime', function() {
        max_time.setAttribute("value", event.detail.ticks);
        if (typeof rhomb !== 'undefined' && event.detail.view === "track") {
          rhomb.getSong().setLength(event.detail.ticks);
          console.log("[EndMarker] - setting song length to " + event.detail.ticks);
        }
      });

      max_time.addEventListener('editableclock-changed', function() {
        var timeEvent = new CustomEvent("denoto-setendtime", {"detail": {"ticks": max_time.value, "autoresize": true, "scroll": false} });
        document.dispatchEvent(timeEvent);
      });
    };

    // register the element
    var endmarker = document.registerElement('denoto-endmarker', {prototype: endmarkerPrototype});
  })();
</script>