<template>
  <link rel="import" href="<%= asset_path("whitekey.html")%>">
  <link rel="import" href="<%= asset_path("blackkey.html")%>">
  <div id="keyboard" style="width: 100px; position: absolute; left: 0px; top: -17px; padding: 0px; 
  margin: 0px;"></div>
  <style>
    .pianokey {
     padding: 0px;
     margin: 0px;
   }
   .whitekey {
     height: 40px;
   }
 </style>
</template>
<script>
  (function(){
    // get the template for this element
    var template = document.currentScript.ownerDocument.querySelector('template');

    // copy a prototype from HTMLElement
    var keyboardPrototype = Object.create(HTMLElement.prototype);

    // specify the created callback ("constructor")
    keyboardPrototype.createdCallback = function(){
      var root = this.createShadowRoot();
      root.appendChild(document.importNode(template.content, true));

      var count = this.getAttribute('keycount');
      if(count !== null){
        createKeys(this, count);
      }
    };

    // specify the "an attribute has changed" callback
    keyboardPrototype.attributeChangedCallback = function(attrName, oldVal, newVal){
      if(attrName === "keycount"){
        createKeys(this, newVal);
      }
    };

    // helper function to create the keys in the shadow div
    function createKeys(that, count){
      var max = parseInt(count);  
      for(var i = 0; i < max; i++){
        var key;
        var mod = i % 12;
        var div = document.createElement('div');

        if(mod === 1 || mod === 3 || mod === 5 || mod === 8 || mod === 10){
          key = document.createElement('denoto-pianokey-black');
        } else {
          key = document.createElement('denoto-pianokey-white');
          div.setAttribute('class', 'whitekey');
        }

        // Shift the key value up by 35 to put the keyboard into a more useful range
        key.setAttribute('value', max - i + 35);
        div.setAttribute('class', 'pianokey');
        that.shadowRoot.getElementById('keyboard').appendChild(div).appendChild(key);
      }
    }

    // register the element
    var keyboard = document.registerElement('denoto-keyboard', {prototype: keyboardPrototype});
  })();
</script>