<template>
  <!-- save/import/export icons made by <a href="http://www.flaticon.com/packs/android-app/2">freepik</a>. Licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a> -->
  <span>
    <img class="tb_button" id="save" src="<%= asset_path("tb_save.png")%>" width="25" height="25" alt="Save" />
    <img class="tb_button" id="export" src="<%= asset_path("tb_export.png")%>" width="25" height="25" alt="Export" />
    <img class="tb_button" id="import" src="<%= asset_path("tb_import.png")%>" width="25" height="25" alt="Import" />
    <div id="exportwav" style="visibility: hidden; cursor: pointer">.wav</div>
    <div id="exporttxt" style="visibility: hidden; cursor: pointer">.txt</div>
    <div id="exportmid" style="visibility: hidden; cursor: pointer">.mid</div>
    <div id="importtxt" style="visibility: hidden; cursor: pointer">.txt</div>
  </span>
  <style>
    .tb_button {
      -webkit-filter: invert(100%);
      position: relative;
      top: 5px;
      opacity: 0.75;
    }
    .tb_button:hover{
      opacity: 1.0;
    }
    .tb_selected{
      -webkit-filter: invert(100%);
      position: relative;
      top: 5px;
      opacity: 1.0;
    }
    #exportwav,
    #exporttxt,
    #exportmid,
    #importtxt {
      position: relative;
      background: #243544;
      width: 30px;
      height: 20px;
      color: #FFF;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    #exportwav,
    #exporttxt,
    #exportmid {
      left: 0px;
      top: 5px;
    }
    #exportwav:hover,
    #exporttxt:hover,
    #exportmid:hover {
      background: #000000;
      opacity: 0.5;
    }
    #importtxt{
      left: 30px;
      top: -55px;
    }
    #importtxt:hover{
      background: #000000;
      opacity: 0.5;
    }
  </style>
</template>

<script>
  (function() {
    // get the template for this element
    var template = document.currentScript.ownerDocument.querySelector('template');

    // declare persistent buttons
    var exp, imp, save, exp_wav, exp_txt, exp_mid, imp_txt;

    // copy a prototype from HTMLElement
    var savebarPrototype = Object.create(HTMLElement.prototype);

    // specify the created callback ("constructor")
    savebarPrototype.createdCallback = function() {
      var root = this.createShadowRoot();
      root.appendChild(document.importNode(template.content, true));

      // get references to the save bar's buttons
      save = root.querySelector('#save');
      exp = root.querySelector('#export');
      imp = root.querySelector('#import');
      exp_wav = root.querySelector('#exportwav');
      exp_txt = root.querySelector('#exporttxt');
      exp_mid = root.querySelector('#exportmid');
      imp_txt = root.querySelector('#importtxt');

      // make the buttons react when clicked on
      exp.addEventListener('mouseup', 
        function() {
          if ($(exp_wav).css('visibility') == "hidden") {
            $(exp_wav).css("visibility", "visible");
            $(exp_txt).css("visibility", "visible");
            $(exp_mid).css("visibility", "visible");
          } else {
            $(exp_wav).css("visibility", "hidden");
            $(exp_txt).css("visibility", "hidden");
            $(exp_mid).css("visibility", "hidden");
          }
        });

      imp.addEventListener('mouseup', 
        function() {
          if ($(imp_txt).css('visibility') == "hidden") {
            $(imp_txt).css("visibility", "visible");
          } else {
            $(imp_txt).css("visibility", "hidden");
          }
        });

      save.addEventListener('mouseup', 
        function() {
          var keyEvent = new CustomEvent("denoto-save", {"detail": "save"});
          root.host.dispatchEvent(keyEvent);
        });

      exp_wav.addEventListener('mouseup', 
        function() {
          var keyEvent = new CustomEvent("denoto-exp-wav", {"detail": "export-wav"});
          root.host.dispatchEvent(keyEvent);
        });

      exp_txt.addEventListener('mouseup', 
        function() {
          var keyEvent = new CustomEvent("denoto-exp-txt", {"detail": "export-txt"});
          root.host.dispatchEvent(keyEvent);
        });

      exp_mid.addEventListener('mouseup', 
        function() {
          root.host.dispatchEvent(new CustomEvent("denoto-exp-mid", {"detail": "export-mid"}));
        });

      imp_txt.addEventListener('mouseup', 
        function() {
          var keyEvent = new CustomEvent("denoto-imp-txt", {"detail": "import-txt"});
          root.host.dispatchEvent(keyEvent);
        });
    };

    // register the element
    var savebar = document.registerElement('denoto-savebar', {prototype: savebarPrototype});
  })();
</script>
