<template>
  <img id="scroll_left" src="<%= asset_path("tab_left_arrow.png")%>" class="scroller" />
  <div id="outer">
    <div id="container">
      <denoto-tab id="trackviewtab" displaytext="Track View" eventname="denoto-edittrack"></denoto-tab>
      <denoto-tab id="effectsgraphtab" displaytext="Effects Graph" eventname="denoto-editeffects"></denoto-tab>
    </div>
  </div>
  <img id="scroll_right" src="<%= asset_path("tab_right_arrow.png")%>" class="scroller" />
<style>
  #outer{
    width: calc(100% - 440px);
    overflow: hidden;
    height: 40px;
    display: inline-block;
    position: relative;
  }
  #container{
    width: 100%;
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 57px;
  }
  .scroller{
    top: -20px;
    opacity: 0.7;
  }
  .scroller:hover{
    cursor: pointer;
    opacity: 0.9;
  }
  #scroll_left{
    display: inline-block;
    position: relative;
    top: -3px;
  }
  #scroll_right{
    display: inline-block;
    position: relative;
    top: -3px;
  }
</style>
</template>
<link rel="import" href="<%= asset_path("tab.html")%>">

<script>
  (function() {
    // get the template for this element
    var template = document.currentScript.ownerDocument.querySelector('template');

    // copy a prototype from HTMLElement
    var tabsetPrototype = Object.create(HTMLElement.prototype);

    tabsetPrototype.createdCallback = function() {
      var that = this;
      var root = that.createShadowRoot();
      root.appendChild(document.importNode(template.content, true));
      var container = root.getElementById("container");
      var scroll_left = root.getElementById("scroll_left");
      var scroll_right = root.getElementById("scroll_right");
      that.keepScrollingLeft = false;
      that.keepScrollingRight = false;

      document.addEventListener("denoto-editpattern", function() {
        var tab;

        if (typeof event.detail.pattern !== 'undefined' && typeof event.detail.pattern._name !== 'undefined') {
          tab = root.getElementById("pattern" + event.detail.pattern._id);

          // create and attach a new tab if one doesn't exist
          if (tab === null) {
            tab = document.createElement("denoto-tab");
            tab.setAttribute("displaytext", ("(" + event.detail.pattern._name + ")"));
            tab.setAttribute("eventname", "denoto-editpattern");
            tab.setAttribute("id", "pattern" + event.detail.pattern._id);
            root.getElementById("container").appendChild(tab);
          }
        
          var tabEvent = new CustomEvent("denoto-setevent", {detail: event.detail});
          tab.dispatchEvent(tabEvent);
        }
      });

      scroll_right.addEventListener("mouseenter", function(){
        that.keepScrollingRight = true;
        scrollRight();
      });

      scroll_right.addEventListener("mouseleave", function(){
        that.keepScrollingRight = false;
      });

      function scrollRight() {
        setTimeout(function() {
          if(that.keepScrollingRight)
            window.requestAnimationFrame(scrollRight);

          container.scrollLeft += 7;

        }, 1000/45);
      }

      scroll_left.addEventListener("mouseenter", function(){
        that.keepScrollingLeft = true;
        scrollLeft();
      });

      scroll_left.addEventListener("mouseleave", function(){
        that.keepScrollingLeft = false;
      });

      function scrollLeft() {
        setTimeout(function() {
          if(that.keepScrollingLeft)
            window.requestAnimationFrame(scrollLeft);

          container.scrollLeft -= 7;

        }, 1000/45);
      }

      function scrollLeftClick() {
          container.scrollLeft -= 50;
      }

      function scrollRightClick() {
          container.scrollLeft += 50;
      }
    };

    // register the element
    var tabset = document.registerElement('denoto-tabset', {prototype: tabsetPrototype});
  })();
</script>