<template>
	<div id="container">
		<denoto-tab id="trackviewtab" displaytext="Track View" eventname="denoto-edittrack"></denoto-tab>
		<denoto-tab id="effectsgraphtab" displaytext="Effects Graph" eventname="denoto-editeffects"></denoto-tab>
	</div>
<style>
	#container{
		display: inline-block;
	}
</style>
</template>
<link rel="import" href="<%= asset_path("tab.html")%>">

<script>
	(function(){
		// get the template for this element
		var template = document.currentScript.ownerDocument.querySelector('template');

		// copy a prototype from HTMLElement
		var tabsetPrototype = Object.create(HTMLElement.prototype);

		tabsetPrototype.createdCallback = function(){
			var root = this.createShadowRoot();
			root.appendChild(document.importNode(template.content, true));

			document.addEventListener("denoto-editpattern", function(){
				var tab;

				if(typeof event.detail.pattern !== 'undefined' && typeof event.detail.pattern._name !== 'undefined'){
					tab = root.getElementById("pattern" + event.detail.pattern._id);

					// create and attach a new tab if one doesn't exist
					if(tab === null){
						tab = document.createElement("denoto-tab");
						tab.setAttribute("displaytext", ("Pattern Editor (" + event.detail.pattern._name + ")"));
						tab.setAttribute("eventname", "denoto-editpattern");
						tab.setAttribute("id", "pattern" + event.detail.pattern._id);
						root.getElementById("container").appendChild(tab);
					}
				
					var tabEvent = new CustomEvent("denoto-setevent", {detail: event.detail});
					tab.dispatchEvent(tabEvent);
				}
			});
		};

		// register the element
		var tabset = document.registerElement('denoto-tabset', {prototype: tabsetPrototype});
	})();
</script>