<template>
	<style>
	canvas
	{
		position: relative;
		top: 17px;

	}
	</style>
	<script type="text/javascript" src="/assets/drawing.js"></script>
	<canvas id="shadowCanvas" width="100" height="40">
	</canvas>
</template>

<script>
	(function(){
		// declare persistent canvas
		var canvas;

		// get the template for this element
		var template = document.currentScript.ownerDocument.querySelector('template');

		// copy a prototype from HTMLElement
		var whitekeyPrototype = Object.create(HTMLElement.prototype);

		// specify the created callback ("constructor")
		whitekeyPrototype.createdCallback = function(){
			var root = this.createShadowRoot();
			root.appendChild(document.importNode(template.content, true));
			canvas = root.querySelector('canvas');
			var context = canvas.getContext("2d");
			var coords = {left: 2, top: 2, right: 96, bottom: 36};
			var key = this;
			
			// draw the key
			context.beginPath();
			context.rect(coords.left, coords.top, coords.right, coords.bottom);
			context.fillStyle = "#FFFFFF";
			context.fill();
			context.linewidth = 5;
			context.strokeStyle = "#000000";
			context.stroke();

			// make the key shade when moused over
			canvas.addEventListener('mouseover', function(){ return drawRect(context, coords, "#CCCCCC", "#000000", 5); });

			// make the key unshade when moused out of
			canvas.addEventListener('mouseout', function(){ return drawRect(context, coords, "#FFFFFF", "#000000", 5); });

			// make the key react when clicked on
			canvas.addEventListener('mousedown', function(){ console.clear(); console.log("key " + key.getAttribute('value') + " down"); });
			canvas.addEventListener('mouseup',   function(){ console.log("key " + key.getAttribute('value') + " up"); });
		};

		// register the element
		var whitekey = document.registerElement('denoto-pianokey-white', {prototype: whitekeyPrototype});
	})();
</script>